@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1500111709600-7761aa8216c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
}

.header {
  text-align: center;
  color: #c82021;
}

.p {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: bold;
}

.form_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 16rem;
}

.input_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}

.input {
  width: 18rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #aaa;
  box-shadow: 0 0 3px rgb(109, 109, 109);
}

.input:focus {
  outline: none;
}

.search_icon {
  position: absolute;
  right: 4%;
}

.search_icon:hover {
  cursor: pointer;
}

.address_container {
  margin: 0.5rem 0 1rem 0;
}

.address {
  width: 18rem;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 0.5rem;
  background-color: #e1e1e1;
}

.address:hover {
  cursor: pointer;
  background-color: #aaa;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 90%;
  margin: 0 auto;
}

.grid_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid#aaa;
  border-radius: 3px;
  padding: 1rem;
  box-shadow: 0 0 3px rgb(109, 109, 109);
  background-color: #e1e1e1;
}

.grid_item:hover {
  cursor: pointer;
  box-shadow: 0 0 5px rgb(218, 30, 30);
}
